@page "/Admin"
@using BlazorAppTier1.Services
@using Domain.Models
@using Application.Logic
@inject IAuthService AuthService
@inject NavigationManager NavManager
@layout LoginLayout

<rel src="~/css/Admin.css"/>
<h3 class="header-login">Admin</h3>
<!-- component -->
<CascadingAuthenticationState>
    <AuthorizeView Policy="admin">

        <div class="text-gray-900 bg-gray-200">
            <div class="p-4 flex">
                <h1 class="text-3xl">
                    Recipes
                </h1>
            </div>
            <div class="px-3 py-4 flex justify-center">
                <table class="w-full text-md bg-white shadow-md rounded mb-4">
                    <tbody>
                    <tr class="border-b">
                        <th class="text-left p-3 px-5">Title</th>
                        <th class="text-left p-3 px-5">Description</th>
                        <th class="text-left p-3 px-5">Ingredients</th>
                        <th class="text-left p-3 px-5">Sent by</th>
                        <th class="text-left p-3 px-5">Status</th>
                        <th class="text-left p-3 px-5">Response</th>
                    </tr>
                    @foreach (var recipe in requestedRecipes)
                    {
                        <tr class="border-b hover:bg-orange-100">
                            <td class="p-3 px-5">@recipe.Title</td>
                            <td class="p-3 px-5">@recipe.Description</td>
                            <td class="p-3 px-5">
                            @for (int i = 0; i < @recipe.Ingredients.Length; i++)
                            {
                                <span>@recipe.Ingredients[i], </span>
                            }
                            </td>
                            <td class="p-3 px-5">@recipe.userId</td>
                            <td class="p-3 px-5">@recipe.Status</td>
                            <td class="p-3 px-5">
                                <button type="button" class="btn btn-primary">Accept</button>
                                <button type="button" class="btn btn-primary">Decline</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" @onclick="AddUserToTabel">
                Add User
            </button>
        </div>

    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private List<Recipe> Recipes;
    List<Recipe> requestedRecipes = new List<Recipe>();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
    // Initialize collection of items get it from some service or contextList<Recipe> Recipes = new List<Recipe>();
        Recipes = new List<Recipe>();
        Recipes = await Connection.FetchRecipeAsync();
        requestedRecipes = Recipes.Where(x => x.Status.Equals(false)).ToList();
    }

    private void AddUserToTabel()
    {
        Recipes.Add(new Recipe()
        {
            Description = "Description",
            Ingredients = null,
            Id = 0,
            Status = false,
            Title = "Title",
            userId = 0
        });
        StateHasChanged();
    }

}